
<div>
    <h2><span>Movie</span> {{vm.movie.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.movie.title}}</span>
        </dd>
        <dt><span>Year</span></dt>
        <dd>
            <span>{{vm.movie.year}}</span>
        </dd>
        <dt><span>Genre</span></dt>
        <dd>
            <span>{{vm.movie.genre}}</span>
        </dd>
        <dt><span>Natio</span></dt>
        <dd>
            <span>{{vm.movie.natio}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.movie.comment}}</span>
        </dd>
        <dt><span>Duration</span></dt>
        <dd>
            <span>{{vm.movie.duration}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="movie-detail.edit({id:vm.movie.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
