<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8">
            <h1>Welcome to Hammad's Movie Database</h1>
            <p class="lead">This is a Movies database for NoSQL Database Assignment submitted as a requirement of NoSQL MongoDB Project</p>
            <p class="lead">Following stack is used for the development of this application;
            <ul class="lead">
            	<li>MongoDB as a backend database</li>
            	<li>Spring framework - Java as the backend</li>
            	<li>AngularJS as front-end</li>
            </ul></p>
            <p class="lead"></p>
            <p class="lead">In case of any questions, please write to khanhammad@eisti.eu or raohammad@gmail.com</p>
        </div>
    </div>
</div>
